<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Bienvenue</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Bienvenue</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum mi ligula, sit amet accumsan felis tincidunt at. Etiam diam neque, mollis vel ex nec, lacinia dapibus mi. Maecenas nec nisi arcu. Nulla facilisi. Proin pulvinar dolor id metus dignissim porttitor. Proin feugiat quis massa pellentesque facilisis. Nam eros lectus, scelerisque id vestibulum ultricies, convallis in sem. Morbi in congue orci. Proin tristique eros sit amet mauris fringilla convallis.</p>
                        <hr>
                        <h5 class="card-title">Informations nécessaires</h5>
                        <hr>

                        {{ form(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>