<div class="comment-area mb-5">
    <form class="comment-form" name="comment_form" method="post">
        <div id="comment_form">

            <div class="mb-3">
                <label for="comment_form_content" class="form-label required">Votre message</label>
                <textarea id="comment_form_content" name="comment_form[content]" required="required" class="form-control"></textarea>
            </div>

            <div class="mb-3">
                <button type="submit" id="comment_form_send" name="comment_form[send]" class="btn-primary btn">Envoyer</button>
            </div>
            <input type="hidden" id="comment_form__token" name="comment_form[article]" value="{{ article.id }}">
            <input type="hidden" id="comment_form__token" name="comment_form[token]" value="{{ csrf_token('add-comment') }}">
        </div>
    </form>
</div>