{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center py-5">
        <h1 class="display-1">{% block message %}{% endblock %}</h1>
        <h2>{% block description %}{% endblock %}</h2>
    </div>
{% endblock %}