{% extends 'base.html.twig' %}

{% block title %}{{ user.username|capitalize }}{% endblock %}

{% block body %}
    <div class="container w-25">
        <div class="row">
            <div class="col">
                <h2>Profil de {{ user.username|capitalize }}</h2>
                <form>
                    <div class="col-12">
                        <label for="username" class="form-label">Nom d'utilisateur</label>

                        <div class="mb-3">
                            <div class="input-group">
                                <span class="input-group-text">@</span>
                                <input type="text" class="form-control" id="username" value="{{ user.username }}" readonly>
                            </div>
                        </div>

                        <div class="mb-3">
                            <p>Nombre de commentaires posté : {{ user.comments|length }}</p>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
