{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container w-25">
        <h1>S'inscrire</h1>
        {{ form(registrationForm) }}
    </div>
{% endblock %}
